<!DOCTYPE html>
<html ng-app="taskList">
<head>
<link rel="stylesheet" type="text/javascript" href="bootstrap.min.css" />
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script type="text/javascript" src="C:\Users\Praveen\Documents\Praneeth\Angular Apps\TaskList\app.js"></script>
</head>
<body ng-controller="listController as list">
<header>
<h1 class="text-center">To-Do List</h1>
</header>
<div>

<form name="enterTask" ng-controller="submitController as subCtrl" ng-submit="subCtrl.addTask(task)>
<p>{{"Enter task here: "}}</p>

<fieldset class="form-group">
<textarea ng-model="body" name="task" placeholder="Enter task here"></textarea>

<input type="submit" value="Add task" />
</fieldset>
</form>


<li ng-repeat="tasks in list.tasks">
<blockquote>
{{subCtrl.body}}
</blockquote>
</li>


</div>
</body>
</html>